<section class="{{cssClass}}" autocomplete="off">
  <h1>
    <input type="text" name="name" value="{{actor.name}}">
  </h1>
  <section class="resources">

    <h2>Health</h2>
    <div class="resource">
      <label>Current</label>
      <input type="number" name="system.resources.health.value" value="{{system.resources.health.value}}">
      <label>Max</label>
      <input type="number" name="system.resources.health.max" value="{{system.resources.health.max}}">
    </div>

    <h2>Speed</h2>
    <div class="resource">
      <label>Speed</label>
      <input type="number" name="system.speed.value" value="{{system.speed.value}}">
    </div>

  </section>


  <section class="attributes">

    <h2>Attributes</h2>

    <div class="attribute">
      <label>Firearms</label>
      <input type="number" name="system.attribute.firearms.value" value="{{system.attribute.firearms.value}}">
      <span class="mod">{{document.system.attribute.strength.mod}}</span>
    </div>

    <div class="attribute">
      <label>Close Combat</label>
      <input type="number" name="system.attribute.closecombat.value" value="{{system.attribute.closecombat.value}}">
    </div>

    <div class="attribute">
      <label>Strength</label>
      <input type="number" name="system.attribute.strength.value" value="{{system.attribute.strength.value}}">
    </div>

    <div class="attribute">
      <label>Agility</label>
      <input type="number" name="system.attribute.agility.value" value="{{system.attribute.agility.value}}">
    </div>

    <div class="attribute">
      <label>Healing</label>
      <input type="number" name="system.attribute.healing.value" value="{{system.attribute.healing.value}}">
    </div>

    <div class="attribute">
      <label>Awareness</label>
      <input type="number" name="system.attribute.awarstea.value" value="{{system.attribute.awarstea.value}}">
    </div>

    <div class="attribute">
      <label>Survival</label>
      <input type="number" name="system.attribute.survival.value" value="{{system.attribute.survival.value}}">
    </div>

    <div class="attribute">
      <label>Communication</label>
      <input type="number" name="system.attribute.comauth.value" value="{{system.attribute.comauth.value}}">
    </div>

    <div class="attribute">
      <label>Persuasion / Empathy</label>
      <input type="number" name="system.attribute.persemp.value" value="{{system.attribute.persemp.value}}">
    </div>

    <div class="attribute">
      <label>Systems</label>
      <input type="number" name="system.attribute.systems.value" value="{{system.attribute.systems.value}}">
    </div>

    <div class="attribute">
      <label>Knowledge</label>
      <input type="number" name="system.attribute.knowledge.value" value="{{system.attribute.knowledge.value}}">
    </div>

  </section>


  <section class="character">

    <h2>Character</h2>

    <div>
      <label>Level</label>
      <input type="number" name="system.level" value="{{system.level}}">
    </div>

    <div>
      <label>Inventory Size</label>
      <input type="number" name="system.inventorySize.value" value="{{system.inventorySize.value}}">
    </div>

  </section>
</section>